[project]
	description = LoopBack is an open source Node.js framework built on top of Express optimized for building APIs for mobile, web, and other devices. Connect to multiple data sources, write business logic in Node.js, glue on top of your existing services and data, connect using JS, iOS & Android SDKs.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Peramanathan
[access "refs/for/refs/*"]
	read = group user/Peramanathan
	push = group user/Peramanathan
	label-Code-Review = -2..+2 group user/Peramanathan
	label-Verified = -1..+1 group user/Peramanathan
	rebase = group user/Peramanathan
	removeReviewer = group user/Peramanathan
	submit = group user/Peramanathan
[access "refs/heads/*"]
	read = group user/Peramanathan
	create = group user/Peramanathan
	push = +force group user/Peramanathan
	pushMerge = group user/Peramanathan
[access "refs/tags/*"]
	push = +force group user/Peramanathan
	pushTag = group user/Peramanathan
	pushSignedTag = group user/Peramanathan
